<h3>Cart</h3>

<!--Link para o shippingComponent-->
<p>
  <a routerLink="/shipping">Shipping Prices</a>
</p>

<!--Apresenta os dados do item no carrinho-->
<div class="cart-item" *ngFor="let item of items">
  <span>{{ item.name }}</span>
  <span>{{ item.price | currency }}</span>
</div>

<!--Formulário para checkout-->
<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">
      Name
    </label>
    <input id="name" type="text" formControlName="name">
  </div>

  <div>
    <label for="address">
      Address
    </label>
    <!--formControlName, atributo vinculado aos checkoutForm para controle de formulário-->
    <input id="address" type="text" formControlName="address">
  </div>
  <button class="button" type="submit">Purchase</button>

</form>